<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('maintenance/examinations/examinations')"></head>
<body>
	<nav th:replace="_navbar::navbar('maintenance/examinations/examinations')"></nav>
	<div class="container">
		<h2>Examinations</h2>
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>text</th>
					<th>questionCount</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="examination:${examinations}" th:object="${examination}">
					<td th:text="*{id}"></td>
					<td th:text="*{text}"></td>
					<td th:text="*{questionCount}"></td>
					<td>
						<a th:if="${#authorization.expression('hasRole(''ADMIN'')') || #authentication.getPrincipal().getUsername() == examination.createdBy}" class="btn btn-default btn-xs" th:href="@{/maintenance/examinations/{id}/edit(id=*{id})}">Edit</a>
					</td>
					<td>
						<form th:if="${#authorization.expression('hasRole(''ADMIN'')') || #authentication.getPrincipal().getUsername() == examination.createdBy}" th:action="@{/maintenance/examinations/{id}(id=*{id})}" th:method="delete">
							<input class="btn btn-default btn-xs" type="submit" value="Delete" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-default" th:href="@{/maintenance/examinations/new}">New</a>
	</div>
</body>
</html>