<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('examinations')"></head>
<body>
	<nav th:replace="_navbar::navbar('examinations')"></nav>
	<div class="container">
		<h2>New Examination</h2>
		<form th:action="@{/maintenance/examinations}" th:method="post">
			<div class="form-group">
				<label class="control-label">text</label>
					<input class="form-control" type="text" name="text" />
				<label class="control-label">questionCount</label>
					<input class="form-control" type="text" name="questionCount" />
				<label class="control-label">categories</label>
				<ul>
					<li th:each="questionCategory:*{questionCategories}">
						<input type="checkbox" name="examinations_categories" th:value="${questionCategory.id}" th:text="${questionCategory.name}"/>
					</li>
				</ul>
			</div>
			<button class="btn btn-default" type="submit">Create</button>
		</form>
		<div class="pull-right">
			<a class="btn btn-link" th:href="@{/maintenance/examinations}">List</a>
		</div>
	</div>
</body>
</html>