<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('maintenance/question_categories/question_categories')"></head>
<body>
	<nav th:replace="_navbar::navbar('maintenance/question_categories/question_categories')"></nav>
	<div class="container">
		<h2>Question Categories</h2>
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="questionCategory:${questionCategories}" th:object="${questionCategory}">
					<td th:text="*{id}"></td>
					<td th:text="*{name}"></td>
					<td>
						<a th:if="${#authorization.expression('hasRole(''ADMIN'')') || #authentication.getPrincipal().getUsername() == questionCategory.createdBy}" class="btn btn-default btn-xs" th:href="@{/maintenance/question_categories/{id}/edit(id=*{id})}">Edit</a>
					</td>
					<td>
						<form th:if="${#authorization.expression('hasRole(''ADMIN'')') || #authentication.getPrincipal().getUsername() == questionCategory.createdBy}" th:action="@{/maintenance/question_categories/{id}(id=*{id})}" th:method="delete">
							<input class="btn btn-default btn-xs" type="submit" value="Delete" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-default" th:href="@{/maintenance/question_categories/new}">New</a>
	</div>
</body>
</html>