<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('maintenance/question_categories/question_categories')"></head>
<body>
	<nav th:replace="_navbar::navbar('maintenance/question_categories/question_categories')"></nav>
	<div class="container">
		<h2>New Question Category</h2>
		<form th:action="@{/maintenance/question_categories}" th:method="post">
			<div class="form-group">
				<label class="control-label">name</label> <input
					class="form-control" type="text" name="name" />
			</div>
			<button class="btn btn-default" type="submit">Create</button>
		</form>
		<div class="pull-right">
			<a class="btn btn-link" th:href="@{/maintenance/question_categories}">List</a>
		</div>
	</div>
</body>
</html>