<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('examinations/examinations')"></head>
<body>
	<nav th:replace="_navbar::navbar('examinations/examinations')"></nav>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>text</th>
					<th>questionCount</th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="examination,rowStat:*{examinations}">
					<td th:text="${examination.text}"/>
					<td th:text="${examination.questionCount}"/>
					<td><a th:href = "@{/examinations/{id}/take_examination_list_random(id=${examination.id})}">list(random)</a></td>
					<td><a th:href = "@{/examinations/{id}/take_examination_list_fill(id=${examination.id})}">list(fill)</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

