<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('maintenance/users/users')"></head>
<body>
	<nav th:replace="_navbar::navbar('maintenance/users/users')"></nav>
	<div class="container">
		<h2>Change Password</h2>
		<form th:action="@{/maintenance/users/{id}/change_password(id=*{user.username})}" th:method="put" th:object="${form}">
			<div class="form-group">
				<label class="control-label">username</label>
				<div th:text="${session.user.username}"></div>
				<label class="control-label">current password</label>
				<input class="form-control" type="password" th:name="currentPassword" autocomplete="nope"/>
				<label class="control-label">new password</label>
				<input class="form-control" type="password" th:name="newPassword" autocomplete="nope"/>
			</div>
			<button class="btn btn-default" type="submit">Save</button>
			<ul class="error-message">
		        <li th:each="error : ${#fields.detailedErrors()}">
		            <span th:text="${error}">Error message</span>
		        </li>
			</ul>
		</form>
	</div>
</body>
</html>