<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('maintenance/questions/questions')"></head>
<body>
	<nav th:replace="_navbar::navbar('maintenance/questions/questions')"></nav>
	<div class="container">
		<h2>Questions</h2>

	    <div class="table-controls">	
	        <span><label>Filter: </label> <input id="filter-value" type="text" placeholder="value to filter"></span>
	    </div>
		<div id="example-table"></div>

		<div>
			<a class="btn btn-default" th:href="@{/maintenance/questions/new_choice}">New(Choice)</a>
			<a class="btn btn-default" th:href="@{/maintenance/questions/new_text}">New(Text)</a>
			<a class="btn btn-default" th:href="@{/maintenance/questions/upload_json}">Upload JSON Data</a>
		</div>
	</div>
</body>
</html>