<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('maintenance/questions/questions')"></head>
<body>
	<nav th:replace="_navbar::navbar('maintenance/questions/questions')"></nav>
	<div class="container">
		<h2>New Question</h2>
		<form th:action="@{/maintenance/questions}" th:method="post">
			<div class="form-group">
				<input type="hidden" name="questionType" value="TEXT"/>
				<label class="control-label">text</label>
					<input class="form-control" type="text" name="text" />
				<label class="control-label">questionCategory</label>
				<ul>
					<li th:each="questionCategory:${questionCategories}">
						<input type="radio" name="questionCategory" th:value="${questionCategory.id}" th:text="${questionCategory.name}"/>
					</li>
				</ul>
				<label class="control-label">defaultText</label>
					<input class="form-control" type="text" name="defaultText" />
				<label class="control-label">explanation</label>
					<textarea class="form-control" name="explanation" ></textarea>
			</div>
			<button class="btn btn-default" type="submit">Create</button>
		</form>
		<div class="pull-right">
			<a class="btn btn-link" th:href="@{/maintenance/questions}">List</a>
		</div>
	</div>
</body>
</html>