<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('maintenance/questions/questions')"></head>
<body>
	<nav th:replace="_navbar::navbar('maintenance/questions/questions')"></nav>
	<div class="container">
		<h2>New Text Question</h2>
		<form th:action="@{/maintenance/questions/new_text}" th:method="post" th:object="${form}">
			<div class="form-group">
				<input type="hidden" name="questionType" value="TEXT"/>
				<label class="control-label">text</label>
					<input class="form-control" type="text" th:field="*{text}" />
				<label class="control-label">questionType</label>
					<div>text</div>
				<label class="control-label">questionCategory</label>
				<ul>
					<li th:each="questionCategory:*{questionCategories}">
						<input type="radio" name="selectedQuestionCategory" th:value="${questionCategory.id}" th:text="${questionCategory.name}" th:field="*{selectedQuestionCategory}"/>
					</li>
				</ul>
				<label class="control-label">defaultText</label>
					<input class="form-control" type="text" th:field="*{defaultText}" />
				<label class="control-label">explanation</label>
					<textarea class="form-control" th:field="*{explanation}" ></textarea>

				<!-- answer -->
				<label class="control-label">answerText</label>
				<ul id="answer-text">
					<li class="form-group" th:each="questionAnswer,iter:*{questionsAnswers}" th:id="${'answer' + iter.index}">
						<input class="col-sm-10" type="text" th:name="${'questionsAnswers[' + iter.index + '].text'}" th:value="${questionAnswer.text}"/>
						<button class="col-sm-1 delete-button btn btn-danger" type="button" th:id="${'deleteButton' + iter.index}" th:text="Delete" th:onClick="${'deleteAnswerText(' + iter.index + ')'}"></button>
					</li>
				</ul>
				<script th:inline="javascript">
					/*<![CDATA[*/
					answerTextIndex = /*[[${form.questionsAnswers != null ? form.questionsAnswers.size() : 0 }]]*/;
					/*]]>*/
				</script>
				<div>
					<button class="btn btn-default" type="button" th:text="add" onClick="addAnswerText()"></button>
				</div>

				<label class="control-label">publication scope</label>
				<ul>
					<li><input type="radio" name="scope" value="private" th:checked="*{scope=='private'}"/>private</li>
					<li><input type="radio" name="scope" value="public" th:checked="*{scope=='public'}"/>public</li>
				</ul>
				<div>
					<button class="btn btn-default" type="submit">Save</button>
				</div>
				<ul class="error-message">
			        <li th:each="error : ${#fields.detailedErrors()}">
			            <span th:text="${error}">Error message</span>
			        </li>
				</ul>
			</div>
		</form>
		<div class="pull-right">
			<a class="btn btn-link" th:href="@{/maintenance/questions}">List</a>
		</div>
	</div>
</body>
</html>