<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('examinations')"></head>
<body>
	<nav th:replace="_navbar::navbar"></nav>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>text</th>
					<th>questionCount</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="examination,rowStat:*{examinations}">
					<td th:text="${examination.id}"/>
					<td th:text="${examination.text}"/>
					<td th:text="${examination.questionCount}"/>
					<td><a th:href = "@{'/take_examination_list?examination_id=' + ${examination.id}}">Take exam as list</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

