<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head::head('take_examination_list')"></head>
<body>
	<nav th:replace="_navbar::navbar"></nav>
	<h2 th:text="${session.examination.text}"></h2>
	<div class="container">
		<form name="form1" method="POST" th:action="@{/answer_examination_list}" autocomplete="off">
			<div th:each="question,rowStat:*{session.questions}">
				<span th:text="${'Q' + (rowStat.index + 1) + '. ' + question.text}"></span>
				<span class="bg-info" th:text="${question.questionCategory.name}"></span>
				<ul th:if="${question.questionType.getString()} eq 'single_choice'">
					<li th:each="answer:${question.questionAnswerList}">
						<input type="radio" th:name="${question.id}" th:value="${answer.id}" th:text="${answer.text}"></input>
					</li>
				</ul>
				<ul th:if="${question.questionType.getString()} eq 'multiple_choice'">
					<li th:each="answer:${question.questionAnswerList}">
						<input type="checkbox" th:name="${question.id}" th:value="${answer.id}" th:text="${answer.text}"></input>
					</li>
				</ul>
				<ul th:if="${question.questionType.getString()} eq 'text'">
					<li>
						<input type="text" th:name="${question.id}" size="60"></input>
					</li>
				</ul>
			</div>

			<p class="finish">
				<input type="button" name="finish" value="完了" id='btn_finish' class="btn btn-primary"></input>
			</p>
		</form>
	</div>
</body>
</html>

