.correct_answer {
  color: green;
}

.incorrect_answer {
  color: red;
}

.background-0 {
  background-color: #FEFEFE;
  #border-top: solid 0.5px #999999;
  border-bottom: solid 0.5px #999999;
}

.background-1 {
  background-color: #F8F8F8;
  #border-top: solid 0.5px #999999;
  border-bottom: solid 0.5px #999999;
}